<h1>Name: <%= @artist.name %>, Followers <%= @artist.followers["total"] %> </h1>

<h2>Related Artists</h2>
<ul>
<% @related_artists.each do |artist| %>
  <li>Name: <%= artist.name %>, Followers: <%= artist.followers["total"] %></li>
<% end %>
</ul>
