<h2>Your Favorites</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><h3> Artist Name </h3></th>
      <th><h3> Followers </h3></th>
      <th><h3> Delete </h3></th>
    </tr>
  </thead>
  <% current_user.artists.each do |artist| %>
  <tr>
  <td><h4><%= link_to artist.name, artist.url %></h4></td>
  <td><h4><%= artist.followers %></h4></td>
  <td><a class="btn btn-danger" src= <%= link_to "Delete",user_path(artist), method: "delete", data:{confirm: "Are you sure you want to delete this artist?"} %></a></td>
  </tr>
  <% end  %>
</table>
