<div class="menu">
  <form>
    <label><input type="radio" name="mode" value="size" checked> Prioritized</label>
    <label><input type="radio" name="mode" value="count"> All Artists</label>
  </form>
</div>
