<%= form_tag(web_data_path, method: "get", remote: true) do %>
  <%= label_tag(:q, "Search for an Artist") %>
  <%= text_field_tag(:q) %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="menu">
  <form>
    <label><input type="radio" name="mode" value="size"> Prioritized</label>
    <label><input type="radio" name="mode" value="count" checked> All Artists</label>
  </form>
</div>
