<% content_for :welcome_header do %>
 <div class="header">
   <%= render 'layouts/header' %>
 </div>
<% end %>
 <div class="jumbotron center">
     <font color="#9ECAE1"><h1 class="fa fa-heart"> / </h1></font>
     <font color="#9ECAE1"><h1 class="fa fa-music"> / </h1></font>
     <font color="#9ECAE1"><h1 class="fa fa-spotify"> </h1></font>
   <div class="container" id="about">
       <p>Four junior programmers who love music decided to practice app development by building a better way to discover related artists on Spotify. Conceived by Nikila Saravanan. Made with Love in New York by Nikila Saravanan, Gabi O'Connor, David Rowe and Rolando Brown.</p>
       <p>We're open to new collaborators. Fork this, build in features and submit a pull request.</p>
   </div>
   <a type="button" class="btn btn-primary btn-lg hvr-ripple-out" id="welcome-button" src=<%= link_to  "Github", "https://github.com/nikila-saravanan/charlotte" %></a>
 </div>
