<div id="flash"></div>
<div id="form-ul"></div>
<div class="jumbotron" id="form-c">
  <h2>Search for an Artist</h2>
  <%= render 'form_center' %>
</div>
<div class="spinner">
  <!-- <script>
    $("#form-c").submit(function(event){
      $(".spinner").spin();
    });
  </script> -->
</div>
<div class="col-md-8" id="chart"></div>

<div class="col-md-4 clearfix centerfy" id="results"></div>
