<nav class="navbar navbar-fixed-bottom navbar-right">
  <div class="container-fluid pull-right">
    <a href="<%=web_about_path%>">About</a>
    <a href="https://tlk.io/charlotte" class="btn" title="Chat"><i class="fa fa-2x fa-weixin"></i></a>
    <a href="https://www.facebook.com/groups/1501000513545732/edit/" class="btn" title="Facebook"><i class="fa fa-2x fa-facebook"></i></a>
    <a href="https://twitter.com/hashtag/charlottesweb" class="btn" title="Twitter"><i class="fa fa-2x fa-twitter"></i></a>
  </div>
</nav>
